In [2]:
import pandas as pd 
import numpy as np
import logging

1.Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [3]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-08 010:20:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-08 11:20:30.
    @Title :program to  create and display a one-dimensional array-like object containing an array of 
            data using Pandas module.
'''



def main():
    sample_data ={'name':['sanjay','ram','rajesh','rayudu','raju'],'marks':[23,67,54,34,97],}


    new =pd.DataFrame(sample_data)
   
    print(new)



if __name__ == '__main__':
    main()

     name  marks
0  sanjay     23
1     ram     67
2  rajesh     54
3  rayudu     34
4    raju     97

2. Write a Python program to convert a Panda module Series to Python list and it's type

In [4]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-08 010:20:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-08 12:20:30.
    @Title :program to convert a Panda module Series to Python list and it's type

'''



def main():
    series = pd.Series([1, 2, 3, 4,47,8,0])

    print('initial list is:',series)
    print(type(series))

    new=series.tolist()
    print('After converting list is',new)

    print(type(new))


if __name__ == '__main__':
    main()

initial list is: 0     1
1     2
2     3
3     4
4    47
5     8
6     0
dtype: int64
<class 'pandas.core.series.Series'>
After converting list is [1, 2, 3, 4, 47, 8, 0]
<class 'list'>

3.Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [5]:

'''
    @Author: v sanjay kumar
    @Date: 2024-08-08 010:20:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-08 11:20:30.
    @Title :program to add, subtract, multiple and divide two Pandas Series.ype
    
'''

def main():
    series = pd.Series([1, 2, 3, 4,47,8,0])

    series1= pd.Series([5,7,3,54,33,98,23])

    print("Addition of the two pandas\n",series+series1)

    print("Subtraction of the two pandas\n",series-series1)
    print('muliplication of the two Pandas Series\n',series*series1)

    print('dision of the two Pandas Series\n',series//series1)



if __name__ == '__main__':
    main()

Addition of the two pandas
 0      6
1      9
2      6
3     58
4     80
5    106
6     23
dtype: int64
Subtraction of the two pandas
 0    -4
1    -5
2     0
3   -50
4    14
5   -90
6   -23
dtype: int64
muliplication of the two Pandas Series
 0       5
1      14
2       9
3     216
4    1551
5     784
6       0
dtype: int64
dision of the two Pandas Series
 0    0
1    0
2    1
3    0
4    1
5    0
6    0
dtype: int64

4. Write a Python program to get the powers of an array values element-wise

In [6]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-08 010:20:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-08 11:20:30.
    @Title :program to add, subtract, multiple and divide two Pandas Series.

'''


def main():
    original=[3,5,6,7,8,6,5,4,33,2]
    index=[0,2,3,4,5,6,7,8,9,10]

    new =pd.array(original)
    ind=pd.array(index)

    print('Initial array is ',new)

    print('Squre panda series\n',new**ind)

    # print('Squre of the pandas\n',new**ind)

    

if __name__ == '__main__':
    main()

Initial array is  <IntegerArray>
[3, 5, 6, 7, 8, 6, 5, 4, 33, 2]
Length: 10, dtype: Int64
Squre panda series
 <IntegerArray>
[1, 25, 216, 2401, 32768, 46656, 78125, 65536, 46411484401953, 1024]
Length: 10, dtype: Int64

5.Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [9]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-08 010:20:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-08 03:20:30.
    @Title :program to create and display a DataFrame from a specified dictionary
data which has the index labels.

    
'''
import pandas as pd 
import numpy as np
import logging

def main():
    sample_data= {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 9, 20, 14.5, 8, 19,9,88],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_data=pd.DataFrame(sample_data,index=labels)
    logging.basicConfig(filename='log1.txt',level=logging.DEBUG)

    logging.debug("the basic dataframe",new_data)

    print(new_data)


if __name__ == '__main__':
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    9.0         3      no
e      Emily   20.0         2      no
f    Michael   14.5         3     yes
g    Matthew    8.0         1     yes
h      Laura   19.0         1      no
i      Kevin    9.0         2      no
j      Jonas   88.0         1     yes

6.Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.

In [11]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-08 010:20:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-08 03:20:30.
    @Title :program to  display a summary of the basic information about a
            specified Data Frame and its data.

    
'''


def main():
    data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, 3, 9, 20, 14.5, 5, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']



    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    logging.basicConfig(filename='log.txt',level=logging.DEBUG)
  
    df = pd.DataFrame(data, index=labels)


    logging.debug("Summary of the basic information about this DataFrame and its data:")
    print("Summary of the basic information about this DataFrame and its data:")
    df.info()


if __name__ == '__main__':
    main()

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     10 non-null     float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

7. Write a Python program to get the first 3 rows of a given DataFrame.

In [29]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 10:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 10:00:30.
    @Title :program to get the first 3 rows of a given DataFrame.
    
'''

def new(pandas_n):
    '''
      print the the first 3 rows of a given DataFrame

      parameters-(pandas dataframe) ;new data frame of the given pandas dataframe

      return :None
    '''
    
    print('after taking the first 3 rows\n',pandas_n.head(3))
    # print(x)
    


def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_pandas =pd.DataFrame(exam_data,index= labels)

    print("original panda data frame\n",new_pandas)
    df =pd.DataFrame(new_pandas,columns=['name','score'])
    new(new_pandas)


if __name__ == '__main__':
    main()

original panda data frame
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

8.Write a Python program to select the 'name' and 'score' columns from the following
DataFrame

In [47]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 10:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 10:00:30.
    @Title :program to select the 'name' and 'score' columns from the following DataFrame.

'''

def score_column(pandas_n):
    '''
    print the the first 3 rows of a given DataFrame

    parameters-(pandas dataframe) : new data frame of the given pandas dataframe

    return :None
    '''
    df=pandas_n[['name','score']]
    print('-'*50)
    print('Final data frame\n',df)
    
    
    


def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_pandas =pd.DataFrame(exam_data,index= labels)
    print('Original Data frame:\n',new_pandas)
    score_column(new_pandas)



if __name__ == '__main__':
    main()

Original Data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Final data frame
         name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9.Write a Python program to select the specified columns and rows from a given data
frame.

In [55]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 10:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 10:00:30.
    @Title :program to select the specified columns and rows from a given data

'''

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_pandas =pd.DataFrame(exam_data,index= labels)
    
    print('Original Data',new_pandas)
    iloc_items = new_pandas.iloc[[1,3,5,6],[0,1]]
    print('-'*40)
    print('final data frame is\n',iloc_items)


if __name__ == '__main__':
    main()

Original Data         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
----------------------------------------
final data frame is
       name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

0. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.

In [72]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 10:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 10:00:30.
    @Title :program to select the rows where the number of attempts in the
            examination is greater than 2.

'''

def grater_2(panda_1):
    df =panda_1[panda_1['attempts']>=2]

    print('original data frame\n',df)
    

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_pandas =pd.DataFrame(exam_data,index= labels)
    
    print('Original Data\n',new_pandas)
    grater_2(new_pandas)


if __name__ == '__main__':
    main()

Original Data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
original data frame
         name  score  attempts qualify
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
i      Kevin    8.0         2      no

12.Write a Python program to count the number of rows and columns of a DataFrame.

In [60]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to count the number of rows and coloumns of a DataFrame.

'''

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_pandas =pd.DataFrame(exam_data,index= labels)
    

    no_rows,no_cols = new_pandas.shape

    print("The total number of rows ",no_rows)
    print("Total number of colomuns",no_cols)


if __name__ == "__main__":
    main()

The total number of rows  10
Total number of colomuns 4

12. Write a Python program to select the rows where the score is missing, i.e. is NaN.

In [69]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to select the rows where the score is missing, i.e. is NaN.

'''


def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df =pd.DataFrame(exam_data,index= labels)
 
    null_values=df.isnull().sum().sum()
    print('Null values\n',null_values)
    

if __name__ == '__main__':
    main()

Null values
 2
    name  score  attempts qualify
j  Jonas   19.0         1     yes

13.Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [71]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to select the rows where number of attempts in the 
            examination is less than 2 and score greater than 15.
'''

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df =pd.DataFrame(exam_data,index= labels)
   

    x=df[(df['attempts'] < 2) & (df['score'] > 15)]

    print('rows where number of attempts in the examination is less than 2 and score greater than 15.\n',x)


if __name__ == '__main__':
    main()

rows where number of attempts in the examination is less than 2 and score greater than 15.
     name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5

In [82]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to change the score in row 'd' to 11.5 .
'''

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    df =pd.DataFrame(exam_data,index= labels)

    df.loc['d',['score']]=11.5
    print(df)
   
if __name__ == '__main__':
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15.Write a Python program to calculate the sum of the examination attempts by the
students.

In [89]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 03:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 03:00:30.
    @Title :program to calculate the sum of the examination attempts by the students.

'''

def new_sum(pandas_new):
    ''' 
    caluculate the sum of the examnation attempts by the students 


    parameters(dataframe ) :pandas_new 
    
    return(int):Total attempts of the student attempts.

    '''
    

    total_sum =pandas_new['attempts'].sum()
    
    return total_sum

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    new_data=pd.DataFrame(exam_data, index=labels)
    

    print("The Total sum of the attempts of the students\n",new_sum(new_data))


if __name__ == '__main__':
    main()

The total sum of the attempts of the student
 19

16.Write a Python program to calculate the mean score for each different student in
DataFrame.

In [94]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to calculate the mean score for each different student in DataFrame. .
    
'''

def mean_to(new):
    '''caluculate the mean score of the each different student.

    parameters(dataframe ) :new

    return(dataframe): a data frame which contains the mean and student

    '''

    new_data =new.groupby('name')['score'].mean()

    return new_data
    

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    origina_data=pd.DataFrame(exam_data, index=labels)


    print(mean_to(origina_data))


if __name__ == '__main__':
    main()

name
Anastasia    12.5
Dima          9.0
Emily         9.0
James         NaN
Jonas        19.0
Katherine    16.5
Kevin         8.0
Laura         NaN
Matthew      14.5
Michael      20.0
Name: score, dtype: float64

17.Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [100]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to  append a new row 'k' to data frame with given values for
        each column. Now delete the new row and return the original DataFrame.

'''

def cred_operations(data):
     '''adding to k row to the data and delete the k row

    parameters(dataframe ) :data

    return(dataframe):original data frame.

    '''
     data.loc['k']=['suresh',15.5,'1','yes']
     print('new data\n',data)
     data=data.drop('k')
     print('original data\n',data)


def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    
    original_data=pd.DataFrame(exam_data, index=labels)
    print("original data\n",original_data)

    cred_operations(original_data)


if __name__ == "__main__":
     main()

original data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
new data
         name  score attempts qualify
a  Anastasia   12.5        1     yes
b       Dima    9.0        3      no
c  Katherine   16.5        2     yes
d      James    NaN        3      no
e      Emily    9.0        2      no
f    Michael   20.0        3     yes
g    Matthew   14.5        1     yes
h      Laura    NaN        1      no
i      Kevin    8.0        2      no
j      Jonas   19.0        1     yes
k     suresh   15.5        1     yes
original data
         name  score attempts qualify
a  Anastasia   12.5        1     yes
b       Dima    9.0        3      no
c  Katherine   16.5        2     yes
d      James    NaN        3      no
e      Emily    9.0        2      no
f    Michael   20.0        3     yes
g    Matthew   14.5        1     yes
h      Laura    NaN        1      no
i      Kevin    8.0        2      no
j      Jonas   19.0        1     yes

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order.

In [104]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 02:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 02:00:30.
    @Title :program to  sort the DataFrame first by 'name' in descending order,
       then by 'score' in ascending order.

    '''
def sorting_data(data):
    sorted_data=data.sort_values(by='name', ascending=False)
    print('Ater sorting by name in descending order\n',sorted_data)

    new_sorted_data =sorted_data.sort_values(by='score', ascending=True)

    return new_sorted_data


def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    original_data=pd.DataFrame(exam_data, index=labels)
    print('intial Original data\n',original_data)

    print("After making the score in ascending order\n", sorting_data(original_data))


if __name__ == '__main__':
     main()

intial Original data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Ater sorting by name in descending order
         name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
After making the score in ascending order
         name  score  attempts qualify
i      Kevin    8.0         2      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no
d      James    NaN         3      no

19.Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [11]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 04:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 04:00:30.
    @Title :program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

    '''
import numpy as np
import pandas as pd
def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    original_data=pd.DataFrame(exam_data, index=labels)
    print('intial Original data\n',original_data)

    x=original_data.replace(to_replace=['yes','no'],value=['True', 'False'])
    
    print("After changing the data in Data frame\n",x)


if __name__ == '__main__':
    main()

intial Original data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After changing the data in Data frame
         name  score  attempts qualify
a  Anastasia   12.5         1    True
b       Dima    9.0         3   False
c  Katherine   16.5         2    True
d      James    NaN         3   False
e      Emily    9.0         2   False
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
j      Jonas   19.0         1    True

20.Write a Python program to delete the 'attempts' column from the DataFrame.

In [15]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 04:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 04:00:30.
    @Title :program to delete the 'attempts' column from the DataFrame.
'''

import pandas as pd
import numpy as np

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    original_data = pd.DataFrame(exam_data, index=labels)
    print('Initial Original data\n', original_data)

    # Corrected line to drop the 'attempts' column
    original_data.drop('attempts', axis=1, inplace=True)

    print('After dropping attempts column\n', original_data)

if __name__ == '__main__':
    main()

Initial Original data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After dropping attempts column
    score  attempts qualify
a   12.5         1     yes
b    9.0         3      no
c   16.5         2     yes
d    NaN         3      no
e    9.0         2      no
f   20.0         3     yes
g   14.5         1     yes
h    NaN         1      no
i    8.0         2      no
j   19.0         1     yes

21. Write a Python program to insert a new column in existing DataFrame.

In [19]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 04:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 04:00:30.
    @Title :program to delete the 'attempts' column from the DataFrame.

'''


import pandas as pd
import numpy as np

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    original_data = pd.DataFrame(exam_data, index=labels)
    print('Initial Original data\n', original_data)
    addres=[2,4,5,3,2,2,4,2,7,6]
    #original_data['addres'] = addres
    x=original_data.assign(remaing_attempts=[1,3,4,2,2,3,4,2,2,1,])
    print('After adding the remaing elements \n',x)
    
if __name__ =='__main__':
    main()

Initial Original data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After adding the remaing elements
         name  score  attempts qualify  remaing_attempts
a  Anastasia   12.5         1     yes                 1
b       Dima    9.0         3      no                 3
c  Katherine   16.5         2     yes                 4
d      James    NaN         3      no                 2
e      Emily    9.0         2      no                 2
f    Michael   20.0         3     yes                 3
g    Matthew   14.5         1     yes                 4
h      Laura    NaN         1      no                 2
i      Kevin    8.0         2      no                 2
j      Jonas   19.0         1     yes                 1

22. Write a Python program to iterate over rows in a DataFrame.

In [14]:
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 04:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 04:00:30.
    @Title :program to delete the 'attempts' column from the DataFrame.

'''

import pandas as pd
import numpy as np

def main():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    original_data = pd.DataFrame(exam_data, index=labels)
    print('Initial Original data\n', original_data)

    # Corrected iteration over rows
    for index, row in original_data.iterrows():
        print(f"name: {row['name']} Score: {row['score']} Attempts: {row['attempts']} Qualify: {row['qualify']}")

if __name__ == '__main__':
    main()

Initial Original data
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
name: Anastasia Score: 12.5 Attempts: 1 Qualify: yes
name: Dima Score: 9.0 Attempts: 3 Qualify: no
name: Katherine Score: 16.5 Attempts: 2 Qualify: yes
name: James Score: nan Attempts: 3 Qualify: no
name: Emily Score: 9.0 Attempts: 2 Qualify: no
name: Michael Score: 20.0 Attempts: 3 Qualify: yes
name: Matthew Score: 14.5 Attempts: 1 Qualify: yes
name: Laura Score: nan Attempts: 1 Qualify: no
name: Kevin Score: 8.0 Attempts: 2 Qualify: no
name: Jonas Score: 19.0 Attempts: 1 Qualify: yes

23. Write a Python program to get list from DataFrame column headers.

In [13]:
import numpy as np
import pandas as pd
'''
    @Author: v sanjay kumar
    @Date: 2024-08-09 04:00:30
    @Last Modified by: v sanjay kumar
    @Last Modified time: 2024-08-09 04:00:30.
    @Title :program to  get list from DataFrame column headers.
'''

def main():
    exam_data = {'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
    'Laura', 'Kevin', 'Jonas'],
    'Score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'Attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    original_data = pd.DataFrame(exam_data, index=labels)
    print('Initial Original data\n', original_data)
    
    
    print("Header Of DataFrame")
    for  i in original_data:
        print(i)


if __name__ == '__main__':
    main()

Initial Original data
         Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Header Of DataFrame
Name
Score
Attempts
Qualify